*{
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body{
    margin: 0 auto;
    max-width: 1200px;
}

img{
    width: 100%;
}

h1{
    font-size: 2.027rem;
    font-weight: 500;
}

h2{
    font-size: 1.802rem;
}

h3{
    font-size: 1.266rem;
}

p{
    font-size: 0.75rem;
    margin: 0;
}

a{
    font-weight: 500;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
}

header div{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    width:150px;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
nav ul li{
    margin: 0 5px;
}

#img-set1{
    display: grid;

    grid-template-areas: 
    "div1 div1 div1"
    "div1 div1 div1"
    "div1 div1 div1"
    "div2 div3 div4"   
}

#img-set1 img{
    padding: 5px;
    border-radius: 10px;
}

#img-set1 img:nth-child(1){
    grid-area: div1;
}

#img-set1 img:nth-child(2){
    grid-area: div2;
}

#img-set1 img:nth-child(3){
    grid-area: div3;
}

#img-set1 img:nth-child(4){
    grid-area: div4;
}

#sweetheart{
    padding: 0 20px;
}

#limited{
    text-transform: uppercase;
    font-weight: 700;
}

.space p{
    margin: 12px 0;
}

#sweetheart a:link, #sweetheart a:visited{
    background-color: #000;
    border: 2px solid #000;
    color: #fff;
    border-radius: 5px;
    padding: .3em .3em;
    width: 50px;
    text-transform: capitalize;
}